.App {
  text-align: center;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@keyframes title-image-bob {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(5deg) translate(-50%, -60%);
  }
  100% {
    transform-origin: 50% 50%;
    transform: rotate(-5deg) translate(-50%, -80%);
  }
}

#title-image {
  filter: drop-shadow(0px 0px 50px rgb(255, 255, 255))
    drop-shadow(0px 0px 50px rgb(255, 255, 255))
    drop-shadow(0px 0px 50px rgb(255, 255, 255));
  width: 40%;
  position: absolute; /* Positions the image absolutely */
  top: 50%; /* Vertically centers the image */
  left: 50%; /* Horizontally centers the image */
  animation: title-image-bob infinite 4s alternate;
}
